* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.stopWatch {
    width: 90%;
    max-width: 600px;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
    color: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.stopWatch h1 {
    margin: 20px 0;
    font-size: 50px;
    font-weight: 300;
}

.stopWatch__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.stopWatch__buttons img {
    width: 50px;
    height: 50px;
    margin: 20px 20px;
    cursor: pointer;
}

.stopWatch__buttons img:nth-child(2) {
    width: 70px;
    height: 70px;
}

.pause{
    border: none;
    border-radius: 50%;
}